@use 'utilities/variables' as v;
@import 'utilities/mixins';

.features {
  @include boxContainer(4rem 1rem 1rem);
  background: linear-gradient(
    to bottom,
    #10100e 0%,
    #10100e 60%,
    #f5f5f5 60%,
    #f5f5f5 100%
  );
  border-right: 1rem solid v.$b-5;
  border-left: 1rem solid v.$b-5;

  @include media(425px) {
    padding-top: 2rem;
    border-right: 0.5rem solid v.$b-5;
    border-left: 0.5rem solid v.$b-5;

    background: linear-gradient(
      to bottom,
      #10100e 0%,
      #10100e 100%,
      #f5f5f5 100%,
      #f5f5f5 100%
    );
  }

  &__container {
    @include container(0 1rem 1rem);
    @include flex(column, space-between, center, center);
    gap: 4rem;

    @include media(768px) {
      padding: 0 0 1rem;
    }
    @include media(425px) {
      padding: 0;
      gap: 2rem;
    }
  }
  &__header {
    @include flex(row, space-between, center, center);
    width: 100%;

    @include media(425px) {
      flex-direction: column;
    }
  }
  &__item {
    @include flex(column, center, center, center);
    gap: 1rem;
    padding: 4rem 2rem;
    background-color: v.$blanco;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;

    @include media(768px) {
      padding: 2rem 1rem;
    }
  }
  &__item-description {
    @include font(1rem, 400, none);
    text-align: center;
    text-wrap: balance;
    color: v.$b-6;
  }
  &__item-icon {
    background-color: v.$negro;
    padding: 2rem;
    border-radius: 50%;
    color: v.$blanco;

    &--deg1 {
      background-image: linear-gradient(316deg, #c20114 0%, #e8c547 74%);
    }
    &--deg2 {
      background-image: linear-gradient(315deg, #6daddb 0%, #313131 74%);
    }
    &--deg3 {
      background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
    }
    &--deg4 {
      background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
    }
    &--deg5 {
      background-image: linear-gradient(315deg, #d3d3d3 0%, #ff9ff3 74%);
    }
    &--deg6 {
      background: linear-gradient(270deg, #666d71 -0.29%, #aaa8ef 100%);
    }
  }

  &__item-title {
    @include font(1.4rem, 500, none);
    color: v.$negro;
    text-align: center;
    text-wrap: balance;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    @include media(425px) {
      grid-template-columns: 1fr;
    }
  }
  &__subtitle {
    max-width: 40ch;
    text-wrap: balance;

    @include media(768px) {
      text-align: end;
    }

    @include media(425px) {
      text-align: center;
    }
  }
  &__title {
    @include font(4.5rem, 500, none);
    color: v.$blanco;
  }
}
