@use 'utilities/variables' as v;
@import 'utilities/mixins';

.list {
  &__anchor {
    &:hover {
      color: v.$blanco;
    }
    &--download {
      @include font(1rem, 500, uppercase);
      @include flex(row, space-around, center, center);

      background-color: white;
      border-radius: 2rem;
      color: v.$b-1;
      gap: 1rem;
      padding: 1rem 2rem;

      @include media(425px) {
        width: 100%;
        justify-content: center;
      }

      &:hover {
        color: v.$b-1;
        background-color: v.$b-5;
      }
    }
  }
  &__item {
    // PENDIENTE
  }
}
.navigator {
  @include boxContainer(1rem);
  background-color: v.$b-2;
  border-right: 1rem solid v.$b-5;
  border-left: 1rem solid v.$b-5;
  border-top: 1rem solid v.$b-5;

  @include media(425px) {
    border-right: 0.5rem solid v.$b-5;
    border-left: 0.5rem solid v.$b-5;
    border-top: 0.5rem solid v.$b-5;
  }

  &__container {
    @include container(2rem);
    @include flex(row, space-between, center, center);

    @include media(425px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__list {
    @include flex(row, space-around, center, center);
    @include font(1.2rem, 300, uppercase);

    gap: 5rem;

    @include media(1024px) {
      gap: 2rem;
    }

    @include media(768px) {
      display: none;
    }
  }
  &__picture {
    width: 180px;
    @include media(425px) {
      width: 100%;
    }
  }
}
